.homePage{
    background-image: url("../assets/welcome.jpeg");
    height:800px;

}

.welcomeMessage{
    text-align: center;
    color:rgb(231, 15, 15);
    line-height: 3;
    text-shadow: 2px 2px rgb(226, 221, 71);
}