/* .homePage{
    background-image: url("../assets/wallhaven-1k2p7w.png");
    height:800px;
}

.welcomeMessage{
    text-align: center;
    color:rgb(25, 231, 15);
    line-height: 3;
    text-shadow: 2px 2px rgb(43, 20, 220);
} */